.title {
  position: relative;
  padding-left: 11px;
}

.title:before {
  position: absolute;
  background: #0370AE;
  content: "";
  display: block;
  width: 3px;
  height: 80%;
  left: 0;
  top: 10%;
}

.filter-container {
  margin-bottom: 15px; 
  display: flex; 
  justify-content: center; 
  gap: 10px;
}