<nz-layout class="app-layout">
  <nz-sider 
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/">
        <img [ngClass]="isCollapsed ? 'logo-collapse logo' : 'logo'" src="../../../assets/logo.png" alt="logo">
        <img class="logo-nombre" src="../../../assets/logo_nombre.png" alt="logo">
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/home/dashboard">
          <span nz-icon nzType="area-chart" nzTheme="outline"></span>
          <span>Dashboard</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/home/sheet-information">
          <span nz-icon nzType="file-text" nzTheme="outline"></span>
          <span>Fichas</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/home/exam">
          <span nz-icon nzType="file-text" nzTheme="outline"></span>
          <span>Examenes</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/home/driver">
          <span nz-icon nzType="file-text" nzTheme="outline"></span>
          <span>Conductores</span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout [ngClass]="{ 'right-layout': isCollapsed == false, 'right-layout-small':  isCollapsed == true }">
    <nz-header [ngClass]="{ 'width-layout': isCollapsed == false, 'width-layout-small':  isCollapsed == true }">
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
        <span class="user-options">
          <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="userOptions">
            <nz-avatar [nzText]="initials" style="color:#f56a00; background-color:#fde3cf;"></nz-avatar>
          </a>
        </span>
      </div>
    </nz-header>
    <nz-content style="overflow: auto;">
      <div class="inner-content">
        <router-outlet />
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<nz-dropdown-menu #userOptions="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="logOut()">
      <span nz-icon nzType="export" nzTheme="outline"></span> Cerrar Sesión 
    </li>
  </ul>
</nz-dropdown-menu>