@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

@primary-color: #0370AE;
@layout-header-background: #011623;
@layout-trigger-background: #011623;
@menu-dark-inline-submenu-bg: #000B11;

// .ant-layout-sider {
//   background: #011623;
// }

// .ant-menu.ant-menu-dark,
// .ant-menu-dark .ant-menu-sub,
// .ant-menu.ant-menu-dark .ant-menu-sub {
//   background: #011623;
// }
